*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

html{
      scroll-behavior: smooth;
}
.container{
      width: 80%;
      margin: 0 auto;
}

.nav{
      background-color: rgba(0, 255, 0, 0.452);
      padding: 20px 0;
      box-shadow: 0 6px 15px 5px #999;
}

.nav__content{
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.nav__logo{
      font-size: 50px;
      font-weight: 800;
      font-family: sans-serif;
      text-shadow: 4px  4px 4px red,  10px 10px 3px rgb(0, 30, 255), 15px 15px 2px wheat;
}

.nav__list{
      display: flex;
      gap: 30px;
}
.nav__list a{
      transition: 0.3s;
      color: #fff;
      font-size: 20px;
      text-decoration: none;
      font-family: monospace;
      border-bottom: 2px solid transparent;
}

.nav__list a:hover{
      border-color: #fff;
      color: red;
}

.nav__register{
      display: flex;
      gap: 20px;
      align-items: center;
}
.nav__register button{
      padding: 12px 24px;
      border-radius: 25px;
      background-color: #000;
      color: #fff;
      border: 2px solid #000;
      font-size: 20px;
      transition: all .7s ease-out;
}

.nav__register button:hover{
      background-color: transparent;
      color: #000;
      cursor: pointer;
}

.header{
      width: 100%;
      height: 100vh;
      background-image: linear-gradient(rgba(255, 0, 0, 0.496), rgba(0, 0, 255, 0.49), rgba(255, 217, 0, 0.304)),
      url('https://picsum.photos/400/400?random=1'),
      url('https://picsum.photos/400/400?random=2'), 
      url('https://picsum.photos/400/400?random=3'), 
      url('https://picsum.photos/400/400?random=4');

      background-repeat: no-repeat;
      background-size: cover,600px  400px, 500px, 600px , 700px;
      background-position: center, center top 50px, center top 150px, center top 200px, center top 200px;
}

.home{
      background-color: bisque;
      padding: 150px 0;
}
.home__content{
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.home__left{
      width: 500px;
      background-color: lime;
      padding: 40px;
      border-radius: 6px;
      box-shadow: 4px 2px 1px 80px red, 76px 32px 0px 40px rgba(101,29,29,0.75);
      color: #fff;
      font-family: sans-serif;
}

.home__left h1{
      font-size: 50px;
      margin-bottom: 20px;
}
.home__left h1 span{
      color: red;
}

.home__left p{
      margin-bottom: 20px;
}


.base-btn{
      padding: 15px 25px;
      border-radius: 25px;
      background-color: red;
      color: #fff;
      font-size: 20px;
}

.home__right{
      border: 4px solid red;
      border-radius: 12px;
      height: 400px;
}

.home__right img{
      width: 100%;
      height: 100%;
      border-radius: 12px;

}

.service{
      background-color: green;
      padding: 100px 0;
}

.service__title{
      text-align: center;
      margin-bottom: 30px;
      font-size: 50px;
      font-family: cursive;
}

.service__img{
      width: 100%;
      height: 300px;
      border: 10px solid red;
      border-radius: 25% 0 25% 0;
}

.service__img img{
      width: 100%;
      height: 100%;
      border-radius: inherit;
}

.service__desc{
      margin: 20px 0;
      color: #999;
      font-family: monospace;
      line-height: 30px;
      font-size: 18px;
}

.about{
      background-color: palevioletred;
      padding:  100px 0;
}

.about__title{
      text-align: center;
      font-size: 50px;
      font-family: sans-serif;
      margin-bottom: 40px;
}

.about__card{
      width: 30%;
      border-radius: 12px;
      padding: 40px;
      box-shadow: 0 0 10px 10px red;
}

.about__content{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
}

.about__card img{
      width: 100%;
      height: 200px;
}

.about__card p{
      margin: 20px 0;
      color: #fff;
      font-size: 20px;
      font-family: sans-serif;
}

.about__card button{
      padding: 15px 25px;
      border-radius: 50px;
      color: #fff;
      background-color: lime;
      border: none;
}

.blog{
      background-color: silver;
}

.blog .about__card{
      box-shadow: 0 0 10px 10px rgb(242, 242, 242);
}

.blog .about__title{
      color: #0ff;
      font-family: cursive;
      text-shadow: 4px 4px red;
}

.contact{
      background-color: aqua;
      padding: 100px 0;
}

.contact__info{
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.contact__left h1{
      border-radius: 12px;
      padding: 15px;
      box-shadow: 0 0 10px 5px #9dd;
      font-size: 40px;
      font-weight: 900;
}

.contact__left h1 span{
      font-weight: 500;
      font-size: 30px;
}
.contact__left{
      display: flex;
      flex-direction: column;
      gap: 20px;
}

.contact__right{
      border: 5px solid red;
      width: 500px;
      height: 400px;
}

.contact__right iframe{
      width: 100%;
      height: 100%;
}

.footer{
      background-color: crimson;
      padding: 20px 0;
      text-align: center;
}

.footer h1{
      color: #fff;
      font-size: 50px;
      font-family: cursive;
}